FIREBASE_PROJECT_ID=sonori-sushi
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@sonori-sushi.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
ALLOWED_ORIGINS=https://tu-frontend.onrender.com,http://localhost:5173